@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.card {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 320px;
    max-height: 497px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    padding-bottom: 60px;
}

img {
    border-radius: 15px;
}

h1{
    font-size: 27px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

p{
    font-size: 20px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
